* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background: #F0A500;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-container {
    height: 100%;
    margin: 0 75px;
    /*background: rgba(0, 0, 0, 0.25);*/
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-element {
    margin-right: 40px;
    color: white;
    text-decoration: none;
}

.anchor {
    text-decoration: none;
}

a:-webkit-any-link{
    text-decoration: none;
}

@media (max-width: 770px) {
    .navbar {
        justify-content: center;
    }
    .nav-element {
        margin: 10px;
    }
    .header-container {
        margin: 0 10px;
    }
}