* {
    margin: 0;
    padding: 0;
}

#contact {
    height: 700px;
    background: #CF7500;
}

.contact-container {
    height: 100%;
    margin: 0 75px;
    /*background: rgba(0, 0, 0, 0.25);*/
}

.contact-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #FFFFFF;
    height: 20%;
}

.inputs-terms-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    margin: 60px;
}

.terms-container {
    width: 50%;
    margin: 60px;
    position: relative;
}

.terms-container::before {
    content: "";
    display: block;
    height: 300px;
    width: 1px;
    top: -20px;
    left: -60px;
    position: absolute;
    background: #FFFFFF;

}

.checkbox-wrapper {
    text-align: left;
}

.terms-label {
    text-align: left;
    width: 200px;
    color: #FFFFFF;
    font-size: 20px;
    align-self: center;
    margin-bottom: 10px;
}

::placeholder {
    color: #FFFFFF;
}

.contact-input, .contact-button {
    height: 50px;
    width: 300px;
    background: none;
    border: none;
    /*border-bottom: 1px solid #FFFFFF;*/
    box-shadow: 4px 4px 4px #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 20px;
    color: #FFFFFF;
}

.contact-button {
    transition: background-color 0.5s, color 0.5s;
}

.contact-button:hover {
    background: #FFFFFF;
    color: #282c34;
    cursor: pointer;
}

@media (max-width: 770px){
    .inputs-terms-container {
        flex-direction: column;
        justify-content: center;
    }
    .inputs-container {
        align-items: center;
    }
    .terms-label {
        font-size: 15px;
        text-align: center;
        align-self: center;
    }
    .terms-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
    }

    .terms-container::before {
        content: none;
    }
}

@media (max-width: 650px) {
    .contact-title {
        font-size: 25px;
    }
}

@media (max-width: 425px) {
    .contact-container {
        margin: 0 25px;
    }

    .contact-input, .contact-button {
        width: 200px;
    }
}