* {
    margin: 0;
    padding: 0;
}

#about {
    height: 1500px;
    background: #F4F4F4;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 75px;
    background: rgba(0, 0, 0, 0.25);
}

.dots {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.dot {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.dot-1 {
    background: #F0A500;
}

.dot-2 {
    background: #CF7500;
}

.dot-3 {
    background: #1A1C20;
}

.tile-left {
    left: 100px;
}

